//variables
@color-blue : #1a67d2;
@input-bg-color : #eee;
@text-color : #727272;
@title-color : #757575;

//mixins
.border-radius(@radius){
    -webkit-border-radius:@radius;
    -moz-border-radius:@radius;
    border-radius:@radius;  
}
//helper classes
.hide{
	display: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.align-middle{
	display: inline-block;
	vertical-align: middle;
}
.text-center{
	text-align: center;
}
h2{
	font-size: 40px;
	font-family: Lato-Bold;
	color: #000;
}
h3{
	font-size: 30px;
	font-family: Lato-Light;
	color: @title-color;
}
h4{
	font-size: 24px;
	font-family: Lato-Light;
	color: @title-color;
}
.tab-title{
	padding: 5px 0px 5px 0px;
	margin-bottom: 0;
	font-size: 18px;
	font-family: Lato-Light;
}
.under-line{
	width: 100px;
	height: 2px;
	background-color: #727272;
	margin: 0;
}
.separator{
	width: 80px;
	height: 3px;
	background-color: @color-blue;
	margin: 0 auto;
	margin-top: 60px;
}
.wrapper{
	width: 90%;
	margin: 0 auto;
}
.color-blue{
	color: @color-blue;
}
h3{
	margin-bottom: 30px;
}
.container{
	border: 10px solid @color-blue;
	color: @text-color;
	box-sizing: border-box;
	font-family: Lato-Regular;
}
.header-icons{
	color: @text-color;
	padding: 10px 0;
	.phone-icon{
		background: url('../img/phone.png') no-repeat center center;
		width: 50px;
		height: 50px;
	}
	.email-icon{
		background: url('../img/email.png') no-repeat center center;
		width: 50px;
		height: 50px;
	}
	.twitter-icon{
		background: url('../img/twitter.png') no-repeat center center;
		width: 50px;
		height: 50px;
	}
}
.header{
	.align-middle{
		width: 190px;
		.tab-title{
			text-align: left;
		}
		&:first-child{
			width: 130px;
		}
		&:nth-child(2){
			width: 100px;	
		}
		a{
			color: @text-color;

		}
	}
	.logo{
		background: url('../img/logo.png') no-repeat center center;
		width: 180px;
		height: 100px;
	}
}
.tab-title.active-url{
	color: @color-blue !important;
}
.under-line.active-url{
	background-color: @color-blue !important;
}
.recommended-lawyers{
	width: 60%;
	margin: 60px auto 0 auto;
}
.what-we-do{
	.align-middle{
		width:25%;
		.text-center;
	}
	.shape-round{
		width: 100px;
		height: 100px;
		.border-radius(60px);
		background-color: @color-blue;
		margin: 0 auto;
	}
}
.our-players{
	.shape-round{
		width: 150px;
		height: 150px;
		.border-radius(80px);
		background-color: #beb4ad;
		overflow: hidden;
		margin: 0 10px;
		img{
			width: 150px;
			height: 150px;
		}
	}
}
.feeds{
	.shape-round{
		width: 130px;
		height: 130px;
		.border-radius(80px);
		background-color: #b9b9b9;
		margin: 0 auto;
		padding-top: 57px;
	}
}
.contact-us{
	.align-middle{
		width: 30%;
	}
	.text-input{
		height: 231px;
	}
	.contact-input{
		display: block;
		margin: 0 auto;
		width: 90%;
		border: 0; 
		.border-radius(30px);
		background-color: @input-bg-color;
		height: 50px;
		margin-bottom: 25px;
		padding-left: 20px;
		&:focus{
	    	outline: none;
	    }
	}
	textarea{
		width: 90%;
		resize: none;
		border: none;
		background-color: @input-bg-color;
		.border-radius(20px);
	    height: 205px;
	    padding: 5px 10px;
	    &:focus{
	    	outline: none;
	    }
	}
	.submit-btn{
		border: 3px solid @color-blue;
		.border-radius(20px);
		background-color: #fff;
		color: #1a67d2;
		padding: 6px 40px;
		margin-bottom: 30px;
		&:hover{
			color: #fff;
			background-color: @color-blue;
		}
	}
}
footer{
	padding: 10px;
  	text-align: center;
  	background-color: #eee;
  	span{
  		color: @color-blue;
  	}
}
//recommonded
.search-lawyers{
	ul{
		padding: 0; 
		background-color: #eee;
		width: 500px;
		margin: 0 auto;
		.border-radius(5px);
		li{
			padding: 3px 10px;
			text-align: left;
			list-style-type: none;
			cursor: pointer;
			input{
				border:none;
				background-color: #eee;
				width: 100%;
				.border-radius(10px);
				height: 35px;
				background: url('../img/search.png') no-repeat 450px center;
				padding: 0 45px 0 0;
			}
		}
	}
}
.lawyer-details{
	>div{
		width: 50%;
		margin: 0 auto;
		>h4{
			text-align: center;
		}
	}
}
.add-lawyer{
	input{
		border:none;
		background-color: #eee;
		width: 300px;
		.border-radius(10px);
		height: 50px;
		padding: 0 10px 0 20px;
		margin: 10px;
	}
	textarea{
		width: 500px;
		height: 250px;
		resize: none;
		background-color: #eee;
		.border-radius(10px);
		border: none;
		padding: 20px;
	}
	.current-location{
		input{
			width: 500px;
		}
	}
}
.finished{
	button{
		width: 500px;
		background-color: @color-blue;
		color: #fff;
		border:none;
		height: 50px;
		.border-radius(10px);
	}
}
.add-input{
	border:none;
		background-color: #eee;
		width: 300px;
		.border-radius(10px);
		height: 50px;
		padding: 0 10px 0 20px;
		margin: 10px;
}
.add-textarea{
	width: 500px;
	height: 250px;
	resize: none;
	background-color: #eee;
	.border-radius(10px);
	border: none;
	padding: 20px;
}